.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 180px;

  @include cover-bg;

  background-image: url(/src/images/footer.svg);

  @include on-tablet {
    height: 359px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
