.header {
  @include cover-bg;

  background-image: url(/src/images/header-bg.svg);
  height: 568px;

  @include on-tablet {
    height: 840px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    height: 100%;

    @include on-tablet {
      padding: 50px 0;
    }
  }

  &__icon--menu {
    display: block;
    width: 18px;
    height: 12px;

    @include cover-bg;

    background-image: url(/src/images/icons/burger-menu.png);
    transition: background-image $transition;

    @include on-tablet {
      width: 24px;
      height: 16px;
    }

    &:hover {
      background-image: url(/src/images/icons/burger-menu-hover.png);
    }
  }

  &__title {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: uppercase;

    @include on-tablet {
      top: 256px;
      font-size: 64px;
      line-height: 64px;
    }

    @include on-desktop {
      top: 198px;
      font-size: 80px;
      line-height: 80px;
    }
  }
}
