.online {
  &__grid {
    @include on-desktop {
      align-items: start;
    }
  }

  &__card {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
      margin-bottom: 0;
    }
  }

  &__media {
    display: block;
    overflow: hidden;
    margin-bottom: 24px;
    aspect-ratio: 1 / 1;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $color-red;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 4px;
    transition: color $transition;

    &:hover {
      color: #000;
    }
  }

  &__text {
    margin: 0;
    text-align: center;
  }
}
